version: "3.5"
services:
  api:
    build:
      context: ./api
      dockerfile: ./Dockerfile.dev
    environment:
      NODE_ENV: development
      DB_HOST: db
      DB_PORT: 3306
      DB_USERNAME: root
      DB_PASSWORD: password
      DB_NAME: typescript-api
      TYPEORM_SEEDING_FACTORIES: src/factories/**/*{.ts,.js}
      TYPEORM_SEEDING_SEEDS: src/seeds/**/*{.ts,.js}
      GOOGLE_APPLICATION_CREDENTIALS: firebase-admin.json
    ports:
      - 8080:8080
    volumes:
      - ./api:/app
      - ./firebase-admin.json:/app/firebase-admin.json
    links:
      - db

  db:
    image: mysql:5.7
    environment:
      TZ: Asia/Tokyo
      MYSQL_DATABASE: typescript-api
      MYSQL_ROOT_PASSWORD: password
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    ports:
      - 3306:3306
    volumes:
      - storage:/var/lib/mysql

  swagger-ui:
    image: swaggerapi/swagger-ui
    ports:
      - 8082:8080
    volumes:
      - ./openapi.yml:/openapi.yml
    environment:
      SWAGGER_JSON: /openapi.yml

volumes:
  storage:
